h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.site-nav--current {
  position: relative;
}
.site-nav--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.6em;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--not-padding-top {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section--not-padding-top {
    display: block;
  }
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
}

.body {
  font-family: Roboto, sans-serif;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
.page-header__conteiner {
  display: flex;
}

.site-nav__list {
  display: flex;
}
.site-nav__list .site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo__black {
  color: #000000;
}
.logo__white {
  color: #ffffff;
}

.open-page {
  color: #2196f3;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__icon-box {
  margin-bottom: 15px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .benefits__icon-box {
    max-width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__icon-box {
    max-width: 354px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon-box {
    max-width: 270px;
    margin-bottom: 30px;
  }
}

.denefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-work {
  display: flex;
  justify-content: space-between;
}
.our-work__item {
  position: relative;
}
.our-work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section--other-bg {
  background-color: #f5f4fa;
}

.our-team {
  display: flex;
}
.our-team__item {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.our-team__item + .our-team__item {
  margin-left: 30px;
}

.our-team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.social__icon {
  fill: currentColor;
}

.client {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.client__icon {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.page-footer__communication {
  display: flex;
  align-items: baseline;
}

.address {
  width: 231px;
}
.address__item + .address__item {
  margin-top: 9px;
}
.address__address {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail, .address__tel {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__address:hover, .address__mail:hover, .address__tel:hover, .address__address:focus, .address__mail:focus, .address__tel:focus {
  color: #2196f3;
}

.join {
  margin-left: 70px;
}
.join__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.soc-list {
  display: flex;
  gap: 10px;
}
.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__icon {
  fill: currentColor;
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: #2196f3;
}

.mailing-form {
  margin-left: 93px;
}

.mailing-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.email-submit {
  display: flex;
}

.submit-text {
  display: block;
  margin-right: 10px;
}

.mailing-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  outline: transparent;
}

.mailing-email:hover,
.mailing-email:focus {
  border-color: var(--accent-color);
}

.mailing-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-submit {
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-icon {
  fill: #ffffff;
}

.mailing-submit:hover,
.mailing-submit:focus {
  background-color: #188ce8;
}

.list-btn {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.list-btn .item + .item {
  margin-left: 8px;
}

.btn {
  display: block;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__item {
  background-color: #ffffff;
  margin-bottom: 30px;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio__link:hover .portfolio-top-text, .portfolio__link:focus .portfolio-top-text {
  transform: translateY(0);
}

.item-text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.after-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-250%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-fild {
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: #2196f3;
}
.modal-input:hover + .modal-svg, .modal-input:focus + .modal-svg {
  fill: #2196f3;
}

.modal-wrap {
  position: relative;
}

.modal-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 20px;
}

.modal-text {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text:hover,
.modal-text:focus {
  border-color: #2196f3;
  outline: transparent;
}

.modal-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-svg {
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: #2196f3;
  border: none;
}

.modal-check:hover + .check-text span,
.modal-check:focus + .check-text span {
  border-color: #2196f3;
}

.modal-check:checked + .check-text .check-svg {
  fill: #ffffff;
  opacity: 1;
}

.check-link {
  margin-left: 8px;
  color: #2196f3;
}

.modal-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */