:root {
  --black-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}
.body {
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*-------HEADER---------*/

.header {
  border-bottom: 1px solid #ececec;

  background-color: var(--white-color);
}

.nav {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: #000000;
}

.header-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-list .item:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.header-items {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.header-items .item + .item {
  margin-left: 50px;
}

.item {
  color: #2196f3;
}

.header-mail,
.header-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.header-link:hover,
.header-mail:hover,
.header-tel:hover,
.header-link:focus,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent-color);
}

/*-------HERO---------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/*-------Переваги---------*/

.items {
  display: flex;
  margin: 0;
  padding: 0;
}

.items .item {
  width: 270px;
}

.items .item + .item {
  margin-left: 30px;
}
.title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

.after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
/*-------Чим ми займаємося---------*/

.work {
  padding-top: 0;
}

.headline {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.headline-items {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

/*-------Наша команда---------*/

.team {
  text-align: center;
  background-color: #f5f4fa;
}

.heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.heading-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.heading-list .item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.heading-list .item + .item {
  margin-left: 30px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subject {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.after-subject {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-------FOOTER---------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo {
  color: var(--white-color);
}

.footer-items {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-items .item + .item {
  margin-top: 9px;
}

.footer-address {
  display: block;

  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-mail,
.footer-tel {
  display: block;

  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-mail:hover,
.footer-tel:hover,
.footer-address:focus,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-color);
}

/*-------PORTFOLIO---------*/

.list-btn {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
  justify-content: center;
}

.list-btn .item + .item {
  margin-left: 8px;
}

.btn {
  display: block;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-radius: 4px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: #f5f4fa;
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.portfolio-list .item {
  background-color: var(--white-color);
  margin-bottom: 30px;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.item-text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text {
  margin-bottom: 4px;
  margin-top: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.after-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
