.client {
  display: flex;
  justify-content: center;
  gap: 30px;

  &__link {
    width: 170px;
    height: 92px;
    border: 1px solid $firstSvgColor;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $firstSvgColor;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accebtSvgColor;
      color: $accebtSvgColor;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
