.mailing-form {
  width: 100%;
  margin-top: 60px;
  text-align: center;

  @include tablet {
    width: 450px;
  }

  @include desktop {
    width: 570px;
    text-align: left;
    margin-top: 0;
    margin-left: 93px;
  }
}

.mailing-title {
  margin-bottom: 20px;
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
  color: $thirdColorFont;
}

.email-submit {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.submit-text {
  display: block;
  margin-right: 10px;
}

.mailing-email {
  height: 50px;

  margin-bottom: 20px;

  padding-left: 16px;
  color: $thirdColorFont;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  outline: transparent;

  @include desktop {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}

.mailing-email:hover,
.mailing-email:focus {
  border-color: var(--accent-color);
}

.mailing-email::placeholder {
  @include font(400, 16px, 20px, 0.03em);

  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-submit {
  width: 200px;
  height: 50px;
  padding: 0 28px;

  margin-left: auto;
  margin-right: auto;

  @include font(700, 16px, 30px, 0.06em);
  color: $thirdColorFont;
  background-color: $btnColor;
  border-radius: 4px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    margin: 0;
    align-items: center;
    text-align: center;
  }

  &:hover,
  &:focus {
    background-color: $accentBtnColor;
  }
}

.submit-icon {
  fill: $thirdColorFont;
}
