.our-work {
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: $thirdColorFont;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
