.page-header {
  border-bottom: 1px solid #ececec;
  background-color: $firstColorBg;
  &__conteiner {
    display: flex;
  }
}


.site-nav__list {
  display: flex;
  & .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, 14px, 16px, 0.02em);
  color: $firstColorFont;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accentColorFont;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
  & .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, 14px, 16px, 0.02em);
  color: $secondColorFont;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
	color: $accentColorFont;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}