.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $thirdColorBg;

  &__communication {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }

    @include desktop {
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
    }
  }
}

.footer-logo {
  font-family: $secondFont;
  @include font(700, 26px, 31px, 0.03em);
  color: $firstLogoColor;

  &__white {
    color: $thirdLogoColor;
  }

  @include mobile {
    @include font(700, 24px, 28px, 0.03em);
  }

  @include tablet {
    @include font(700, 24px, 28px, 0.03em);
  }

  @include desktop {
    @include font(700, 26px, 31px, 0.03em);
  }
}

.footer-address {
  text-align: center;

  @include tablet {
    width: 232px;
    flex-basis: 50%;
  }
  @include desktop {
    flex-basis: auto;
    width: 231px;
    text-align: left;
  }
}

.address {
  margin-top: 20px;

  &__item + &__item {
    margin-top: 6px;

    @include mobile {
      margin-top: 8px;
    }
    @include tablet {
      margin-top: 8px;
    }
    @include desktop {
      margin-top: 9px;
    }
  }

  &__address {
    font-family: inherit;
    @include font(400, 14px, 24px, 0.03em);
    color: $thirdColorFont;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__mail,
  &__tel {
    font-family: inherit;
    @include font(400, 14px, 24px, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__address:hover,
  &__mail:hover,
  &__tel:hover,
  &__address:focus,
  &__mail:focus,
  &__tel:focus {
    color: $accentColorFont;
  }
}
