.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .item {
    background-color: $firstColorBg;
    margin-bottom: 30px;
  }
  & .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio-top-text,
  &:focus .portfolio-top-text {
    transform: translateY(0);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  @include font(400, 18px, 28px, 0.03em);
  color: $thirdColorFont;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.item-text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.text {
  margin-bottom: 4px;
  margin-top: 0;

  @include font(700,18px, 36px, 0.06em);
  color: $firstColorFont;
}

.after-text {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 16px, 30px, 0.03em);
  color: $secondColorFont;
}
