$firstLogoColor: #2196f3;
$secondLogoColor: #000000;
$thirdLogoColor: #ffffff;

$firstColorFont: #212121;
$secondColorFont: #757575;
$thirdColorFont: #ffffff;
$accentColorFont: #2196f3;

$firstColorBg: #ffffff;
$secondColorBg: #f5f4fa;
$thirdColorBg: #2f303a;

$btnColor: #2196f3;
$accentBtnColor: #188ce8;

$firstSvgColor: #afb1b8;
$secondSvgColor: #ffffff;
$accebtSvgColor: #2196f3;

$mainFont: Roboto, sans-serif;
$secondFont: Raleway, sans-serif;
